{% extends 'base.html' %}


{% block content %}
<div class="container mt-5 mb-5">
    <div class="jumbotron bg-dark text-light">
        <h1 class="display-4">Frequently Asked Questions</h1>
        <p class="lead">Have a question? Find answers below.</p>
    </div>

    <div class="accordion" id="faqAccordion">
        <!-- Question 1 -->
        <div class="alert alert-dark p-4" role="alert">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer1"
                    aria-expanded="true" aria-controls="answer1">
                    Question 1: What is QuickSnip?
                </button>
            </h2>
            <div id="answer1" class="collapse" aria-labelledby="question1">
                <div class="card-body">
                    QuickSnip is a URL shortening service that allows you to create short and easy-to-share
                    links.
                </div>
            </div>
        </div>
        <!-- Question 2 -->
        <div class="alert alert-dark p-4" role="alert">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer2"
                    aria-expanded="false" aria-controls="answer2">
                    Question 2: How do I create a short link?
                </button>
            </h2>
            <div id="answer2" class="collapse" aria-labelledby="question2">
                <div class="card-body">
                    To create a short link, simply visit the homepage and paste your long URL into the provided
                    input box. Click the "Create URL" button, and your new short link will be generated.
                </div>
            </div>
        </div>
        <!-- Question 3 -->
        <div class="alert alert-dark p-4" role="alert">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer3"
                    aria-expanded="false" aria-controls="answer3">
                    Question 3: Is QuickSnip free to use?
                </button>
            </h2>
            <div id="answer3" class="collapse" aria-labelledby="question3">
                <div class="card-body">
                    Yes, QuickSnip is completely free to use. We also offer premium plans with additional features for users
                    who need more advanced options.
                </div>
            </div>
        </div>
        <!-- Question 4 -->
        <div class="alert alert-dark p-4" role="alert">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer4"
                    aria-expanded="false" aria-controls="answer4">
                    Question 4: How long are the short links valid?
                </button>
            </h2>
            <div id="answer4" class="collapse" aria-labelledby="question4">
                <div class="card-body">
                    Short links created with QuickSnip do not expire by default. They remain valid looong time.
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}