{% extends 'base.html' %}


{% block content %}
    <!-- Hero Section -->
    <div class="jumbotron text-center bg-dark text-light">
        <h1>Swift links, timeless impact</h1>        
        <p class="lead mb-0">Generate short links swiftly and share them anywhere.</p>
        <p class="lead mb-4">Embrace success, cut through the clutter. It's QuickSnip's simplicity in action.</p>
        <a class="btn btn-info btn-lg" href="create/" role="button">Create new URL</a>
    </div>

<!-- Features Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 alert alert-dark" role="alert">
                <div class="card-body">
                    <h5 class="card-title">Easy to Use</h5>
                    <p class="card-text">QuickSnip simplifies the process of creating short links with just a few clicks.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 alert alert-dark" role="alert">
                <div class="card-body">
                    <h5 class="card-title">Simplified Link Creation</h5>
                    <p class="card-text">QuickSnip effortlessly simplifies the link creation process, providing you with a user-friendly platform.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 alert alert-dark" role="alert">
                <div class="card-body">
                    <h5 class="card-title">Streamlined Experience</h5>
                    <p class="card-text">Our platform focuses on providing a straightforward solution for creating short links.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}